.profile__wrapper{

    display: grid;
    width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    align-items: start;
    justify-items: center;

}

.profile__wrapper * {

    text-align: start;

}

.profile__nav {

    width: calc(1000px*0.3 - 30px);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: fit-content;

}

.profile__container {

    width: calc(1000px*0.7);
    padding: 20px;
    border: 1px solid black;

}

.profile__header {

    margin-bottom: 30px;

}

.profile__info {

    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 10px;

}

.profile__photo {

    height: 100px;

}

.profile__photo img {

    height: 100%;

}

.profile__nameForm {

    display: flex;
    justify-content: space-between;
    column-gap: 30px;

}