.main {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.sexSelect {

    margin: 100px 20px;
    max-width: 1000px;
    width: 100%;
    height: 300px;
    background: orange;

}