.main {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;

}

.sexSelect {

    margin: 70px 20px;
    max-width: 1000px;
    width: 100%;
    height: 200px;
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

}

.sexSelect__elem {

    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

}

.sexSelect__elem>div {

    width: fit-content;
    font-weight: 700;
    font-size: 1.3rem;
    color: black;

}