.profile__wrapper{

    display: grid;
    width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    align-items: start;
    justify-items: center;
    margin-bottom: 40px;

}

.profile__wrapper * {

    text-align: start;

}

.profile__nav {

    border: 2px solid black;
    width: 100%;
    border-radius: 5px;
    background: none;
    padding: 5px;

}

.profile__nav a{

    display: block;
    padding: 10px;

}

.profile__nav a.profile__nav__active{

    background: black;
    color: white;

}

.profile__container {

    width: calc(1000px*0.7);
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    background: white;
    box-shadow: 10px 10px 0 orange;

}