.header__wrapper {

    position: sticky;
    top: 0%;
    background-color: white;
    border-bottom: 2px solid black;
    height: 80px;
    color: black;
    z-index: 100;

}

.header{

    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__header {

    font-size: 1.2rem;
    font-weight: 700;
    color: black;

}

.header__right{

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

}