.header__wrapper {

    position: sticky;
    top: 0%;
    background-color: white;
    border-bottom: 2px solid black;
    height: 80px;
    color: black;
    z-index: 100;

}

.header{

    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__header {

    font-size: 1.2rem;
    font-weight: 700;
    color: black;

}

.header__right{

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

}

.header__cart {

    color: black;
    position: relative;

}

.header__cart__length {

    position: absolute;
    top: 0%;
    right: 0%;
    width: 22px;
    height: 22px;
    transform: translate(50%, -50%);
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
    background-color: red;
    padding-top: 2px;
    border-radius: 50%;

}