.footer__wrapper {

    background-color: orange;
    color: white;
    padding: 50px 0;

}

.footer{

    width: 1000px;
    margin: 0 auto;

}

.footer>ul>li{

    text-align: start;
    margin: 5px 0;

}

.footer>ul>li>a{

    color: white;
    font-weight: 700;

}