.auth_warning {

    position: fixed;
    padding: 20px 30px;
    bottom: 50px;
    right: 50px;
    width: fit-content;
    height: fit-content;
    background: white;
    border: 2px solid red;
    color: black;
    font-weight: 700;
    font-size: 1.1rem;
    z-index: 10;

}

.auth_warning__close {

    position: absolute;
    outline: none;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;

}

.auth_warning__close svg {

    width: 100%;
    height: 100%;
    stroke-width: 2;
    color: black;

}