*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button{

    border: none;
    background: none;

}

h2{
    text-align: start;
    font-size: 2rem;
}

a{
    color: black;
}