.filters__wrapper {

    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    margin-top: 50px;

}

.filter {

    display: grid;
    width: 1000px;
    grid-template-columns: 1fr 4fr;
    column-gap: 50px;

}

.filters {

    border-right: 2px solid black;
    width: 100%;
    height: 100%;

}

.filter__wrapper {

    padding: 10px;

}

.filter__title {

    font-size: 1.2rem;
    text-align: start;
    font-weight: 700;
    margin-bottom: 5px;

}

.filter__filter {

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;

}

.filters label {

    cursor: pointer;

}

.filter__name {

    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;

}

.filter__radio:checked + .filter__name{

    font-weight: 700;
    font-size: 1.1rem;

}

.filter__radio {

    position: absolute;
    opacity: none;
    width: 0px;
    height: 0px;

}

.filter__search {

    border: 2px solid black;
    font-size: 1.3rem;
    font-weight: 700;
    width: 100px;
    height: 40px;

}

.items {

    height: fit-content;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    column-gap: 20px;
    row-gap: 20px;
}

.item__wrapper {

    border: 2px solid black;
    position: relative;

}

.item {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 15px;
    padding-top: 50px;

}

.item__favourite {

    outline: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    z-index: 3;

}

.item__favourite:hover svg {

    transform: scale(1.1);

}

.item__favourite:active svg {

    transform: scale(1);

}

.item__favourite button {

    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;

}

.item__favourite svg{

    width: 20px;
    height: 20px;
    stroke-width: 0;

}

.item__image {

    width: 100%;
    margin-bottom: 10px;

}

.item__image img {

    max-height: 100%;
    max-width: 100%;

}

.item__bottom {

    width: 100%;
    height: fit-content;

}

.item__title, .item__price {

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;
    margin-bottom: 5px;

}

.item__price {

    font-weight: 700;

}

.item__title {

    color: gray;
    font-size: 0.9rem;

}

.item__buttons {

    width: 100%;
    display: flex;
    justify-content: space-between;

}

.item__buttons button{

    padding: 5px 20px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid black;

}

.item__wrapper:hover {

    text-decoration: underline;

}

.item__openHere {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
    background: white;
    z-index: 3;
    border: 2px solid black;
    font-weight: 700;
    opacity: 0;
    pointer-events: none;
    outline: none;

}

.item__wrapper:hover>.item__openHere {

    opacity: 1;
    pointer-events: initial;
    cursor: pointer;

}